doctype 5
html(lang='en')
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

    script(src="/javascripts/jquery-1.8.2.js")
    script(src="/javascripts/bootstrap.js")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')

    link(rel='stylesheet', href='/stylesheets/fuelux.css')
    link(rel='stylesheet', href='/stylesheets/fuelux-responsive.css')
    script(src="/javascripts/search.js")

    script(src='/vendor/d3.v2.js')
  body
    block content
