div.row
  div#name-search.span3.input-append.search
    input(type="text",name="search-name",placeholder="search users").input-medium
    button.btn
      i.icon-search
  div#term-search.pull-right.input-append.search
    input(type="text",name="search-term",placeholder="search documents").input-medium
    button.btn
      i.icon-search
